world {
	external-commands {
		preview {
			dir "exa" "-l" "--all" "--color=always" "--group-directories-first" "--git" "$DIR"
			file "bat" "--color=always" "$FILE"
			file-line "bat" "--color=always" "--line-range" "$FIRST:$LAST" "-H" "$LINE" "$FILE"
		}
		open {
			file "hx" "$FILE"
			file-jump "hx" "$FILE:$LINE:$COLUMN"
			// file-jump  "nvim" "$FILE" "+call cursor($LINE, $COLUMN)"
			dir "zellij" "action" "new-pane" "--cwd" "$DIR" "--" "broot"
			url "firefox" "$URL"
			pipe-$SNIPPET_TEXT-into "wl-copy"
		}
		
	}
	surf-parsing {
		// regex can be arbitrary, but the named groups `description`, `url`
		// must exist, otherwise panics will entail
		markdown-reference-link-regex  r#"\[(?P<description>[^\]]+)\]\((?P<url>[^\)]+)\)"#	
		url-regex  r#"^https?://\S+"#		

		file-dest-has-line-regex r#".*:[0-9]+$"#		
		// regex can be arbitrary, but the named groups `whitespace`, `checkmark`, `task_text`
		// must exist, otherwise panics will entail.
		// checkmark must be one char, either ' ' or 'x', otherwise the behaviour is hard
		// to predict.
		//
		// the nesting will be computed as the the length of `whitespace` group in bytes
		// divided by 2
		task-item-regex r#"(?P<whitespace>(  )*)- \[(?P<checkmark>[x ])\]\s+(?P<task_text>.+)"#
	}
	notes-work-dir "/home/user/notes"
	color {
		// used for markdown of notes' names, task items' titles
		// 
		// used for code snippets in various syntaxes (syntax is hinted by ```tag)
		theme "/home/user/Downloads/file.tmTheme"
		elements {
		    links {
				parent_name r#" {"r":242,"g":242,"b":223} "#
				url r#" {"r":144,"g":238,"b":144} "#
				file r#" {"r":216,"g":191,"b":216} "#
				dir r#" {"r":147,"g":112,"b":219} "#
				broken r#" {"r":255,"g":0,"b":0} "#
				code_block r#" {"r":135,"g":206,"b":250} "#
				unlisted  r#" {"r":180,"g":180,"b":180} "#
				cycle r#" {"r":210,"g":180,"b":140} "#
			}
			notes {
				tag  r#" {"r":0,"g":255,"b":255} "#
				// `root` and 1 more special tag
				special_tag  r#" {"r":255,"g":0,"b":0} "#
			}
		}
	}
}
