world {

	external-commands {
		preview {
			dir "exa" "-l" "--all" "--color=always" "--group-directories-first" "--git" "$DIR"

			file "bat" "--color=always" "$FILE"
		}

		open {
			file "hx" "$FILE"

			file-jump "hx" "$FILE:$LINE:$COLUMN"
			// file-jump  "nvim" "$FILE" "+call cursor($LINE, $COLUMN)"

			dir "zellij" "action" "new-pane" "--cwd" "$DIR" "--" "broot"

			url "firefox" "$URL"

			pipe-$SNIPPET_TEXT-into "wl-copy"
		}
		
	}

	surf-parsing {
		markdown-reference-link-regex  r#"\[(?P<description>[^\]]+)\]\((?P<url>[^\)]+)\)"#	

		url-regex  r#"^https?://\S+"#		

		task-item-regex r#"(?P<whitespace>(  )*)- \[(?P<checkmark>[x ])\]\s+(?P<task_text>.+)"#
	}

	notes-work-dir "/home/user/notes"

}
